<section id="reason-to-purchase" class="rectangle-2">
    <h1 class="reasons">3 Reasons To Purchase</h1>
    <article class="container-three">
        <div class="box-purchase">
            <h3 class="set"><strong>Ut sed metus</strong></h3>
            <p class="lorem">Lorem ipsum dolor sit amet, consecteteu</p>
        </div>
        <div class="box-purchase">
            <h3><strong>Curabitur ac erat</strong></h3>
            <p class="Mauris">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="box-purchase">
            <h3><strong>Morbi dictum</strong></h3>
            <p class="lorem">Aliquam in dolor et dolor tincidunt.</p>
        </div>

    </article>
    <div class="more">
        <a class="more-button" href="https://adalab.es/" target="_blank"> More reasons</a>
    </div>
    <div class="arrow">
        <a href="#box-section-0"><button> <img src="./images/ico-arrow.svg" alt=""></button></a>
    </div>

</section>