<footer>
    <section class="rectangle-3">
        <nav class="book">
            <ul>
                <li><a href="https://adalab.es/" target="_blank">ARTICLES</a></li>
            </ul>
            <ul>
                <li><a href="https://adalab.es/" target="_blank">BOOKS</a></li>
            </ul>
            <ul>
                <li><a href="https://adalab.es/" target="_blank">EVENTS</a></li>
            </ul>
            <ul>
                <li><a href="https://adalab.es/" target="_blank">REASONS</a></li>
            </ul>
            <ul>
                <li><a href="https://adalab.es/" target="_blank">TIPS</a></li>
            </ul>
        </nav>

        <nav class="network">
            <ul>
                <li><a href="https://adalab.es/" target="_blank">TWITTER</a></li>
            </ul>
            <ul>
                <li><a href="https://adalab.es/" target="_blank">INSTAGRAM</a></li>
            </ul>
            <ul>
                <li><a href="https://adalab.es/" target="_blank">MASTODON.SOCIAL</a></li>
            </ul>

        </nav>

        <nav class="end">
            <ul>
                <li>&copy;2022</li>
                <li>We 🧡 components</li>
            </ul>
        </nav>

    </section>

</footer>